src/__pycache__/commands.cpython-310.pyc
src/__pycache__/config.cpython-310.pyc
src/__pycache__/tracker.cpython-310.pyc
src/__pycache__/utilities.cpython-310.pyc
src/api/__pycache__/apps.cpython-310.pyc
src/data_management/__pycache__/database.cpython-310.pyc
data\alerts.json
data\app_ranks.json
data\binance_rank_history.json
data\coinbase_rank_history.json
data\cryptocom_rank_history.json
data\rank_data_binance.json
data\rank_data_coinbase.json
data\rank_data_cryptodotcom.json
data\rank_data_wallet.json
data\wallet_rank_history.json
assets\anxiety.png
assets\binance_icon.png
assets\binance-smart-chain-bsc-seeklogo.png
assets\capitulation.png
assets\coinbase_icon.png
assets\coinbase-coin-seeklogo.png
assets\coinbase-wallet-seeklogo.png
assets\crypto-com-seeklogo.png
assets\CryptoAppIndex_Banniere.png
assets\CryptoAppRank_Logo.png
assets\cryptocom_icon.png
assets\doubt.png
assets\extreme_greed.png
assets\fear.png
assets\greed.png
assets\optimism.png
assets\wallet_icon.png
